<%- include('partials/header') %>
<body id="landing-page">
<h1 id="app-title"><%= title %></h1>
<div id="about-app">
    <p>Keep track of your plant babies!</p>
</div>

<%- include('partials/footer') %>