<%- include('partials/header') %>
<body id="landing-page">
<h1 id="app-title"><%= title %></h1>
<div id="about-app">
    <p>Keep track of your plant babies!</p>
</div>

<% if (!user) { %>
    <a id="log-in" href="/auth/google"><buton class="btn btn-outline-dark btn-sm">LOG IN&nbsp;</buton></a>
<% } %>

<%- include('partials/footer') %>