#logo {
  width: 50px;
  height: 50px;
}

form {
  display: block;
  margin-top: 0em;
}

#title {
  font-family: 'Pacifico', cursive;
  padding: 10px 10px 0px 10px;
}

body {
  font-family: 'Baloo 2', cursive;
  background-color: #f2f2f2d9;
  font-size: medium;
  /* background-image: url(https://images.unsplash.com/photo-1604762525953-2c80447cc4a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-position: center; */
}

#landing-page {
  background-image: url(https://images.unsplash.com/photo-1567225557594-88d73e55f2cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

#about-app {
  padding-left: 55px;
}

#app-title {
  font-family: 'Pacifico', cursive;
  padding-left: 55px;
  padding-top: 10px;
}

#plant-image {
  max-width: 100%;
  height: auto;
  padding: 0px 0px 10px 0px;
  /* border-radius: 30px; */
}

/* #user-image {
  border-radius: 50%;
} */

nav {
  background-color: lightseagreen;
}

#app-name {
  font-family: 'Pacifico', cursive;
  padding-top: 20px;
}

#log-in {
  padding-left: 200px;
}

#notes-content {
  padding: 10px 10px;
}

#show-page {
  padding: 10px;
}

#edit-btn {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

/* #labels {
  padding-right: 50px;
}

.details {
  display: inline-grid;
  grid-template-rows: 1fr 1fr;
} */

.plant-profile-care {
  background-color: #dedfe2d9;
  text-align: center;
  padding: 2px;
}

#edit-page {
  padding: 10px;
}

#add-note-form {
  padding: 10px 0px 0px 0px;
}

#floatingTextarea2 {
  width: 50px
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px
}

#new-plant-page {
  padding: 10px;
}

#add-plants {
  padding: 10px;
}

#add-plants-tag {
  padding: 10px;
}

#plant-name {
  display: flex;
  justify-content: center;
}

/* small is 576+ pixels */
@media (min-width: 576px) {
  body {
    background-repeat: no-repeat;
  }
}
