<%- include('../partials/header') %>
<h1 id="title"><%= title %></h1>
    <form>
      <input type="file" multiple/>
      <button type="button">SEARCH</button>
    </form>

<%- include('../partials/footer') %>